/**
 * 	dottisdare.css
 */


h1.title {
	width: 100%;
	min-width: 450px;
	color: #ffffff;
	text-align: center;
	font-family: Arial, Tahoma, Helvetica, sans-serif;
	padding-top: 1em;
}

@media (max-width: 500px) {
	h1.title {
		font-size: 30px;
	}
}

h4 {
	color: #ffffff;
	text-align: left;
	font-family: Arial, Tahoma, Helvetica, sans-serif;
	padding-top: 0;
	margin-top: 0;
}

body {
	font-family: Tahoma, Helvetica, sans-serif;
	font-size: 1.65em;
	color: #ffffff;
	/*background-image: url("../images/map_background.png");*/
}

form {
	background-color: #0C9B74;	

	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	
	border: 3px solid;
	border-color: #5FF39B;
	border-radius: 25px;
	padding: 40px;
}

button.dottisdare {
	background-color: #08684E;
	border-color: #5FF39B;
}

button.dottisdare:hover, 
button.dottisdare:focus {
	color: #08684E;
	background-color: #5FF39B;
	border-color: #08684E;
}

input.dottisdare {
	border: 2px solid;
	border-color: #08684E;
	border-radius: 8px;
	
	width: 250px;
	
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
}

input.dottisdare:focus {
	border-color: #5FF39B;
}

li {
	color: #ffffff;
	padding-bottom: 10px;
}

div.centered {
	text-align: center;
}

div.dottisdare {
	background-color: #0C9B74;	

	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	
	border: 3px solid;
	border-color: #5FF39B;
	border-radius: 25px;
	padding: 20px;
}

footer {
	font-size: 0.65em;
	text-align: center;
	margin-top: 40px;
}


/******************/
/** Sign-in page **/
/******************/

form.signinform {
	width: 450px;
}

.signinform > button {
	margin-left: 59px;
}


/****************/
/** Rules page **/
/****************/

div.rules {	
	min-width: 500px;
	max-width: 700px;
}

h3.rules {
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: center;
}

button.rules {
	margin-top: 30px;
}


/********************/
/** Clue code page **/
/********************/

form.cluecode {
	width: 450px;
}

.cluecode > button {
	margin-left: 59px;
}


/**************/
/** Map page **/
/**************/

div.map {
	width: 1012px;
	margin: 10px;
}
